{% extends 'base.html.twig' %}
{% block body %}

    <article class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.dateBillet, "Date de la visite") }}
                        {{ form_widget(form.dateBillet, {'attr': {'class': 'datepicker2'}}) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_label(form.demiJournee, "Type de billet") }}
                        {{ form_widget(form.demiJournee, {'attr': {'class': 'typeBilletJour'}}) }}
                    </div>
                </div>
                <br>
                {{ form_label(form.billets) }}
                {{ form_widget(form.billets) }}
                <aside>
                    <div class="col-md-12 alert alert-danger" id="alert_demiTarif" style="display: none">
                        <strong>Attention !</strong> vous avez coché la case <strong>" Tarif réduit "</strong>, il sera nécessaire de présenter une carte d'étudiant, militaire ou équivalent lors de l'entrée pour bénéficier bien du tarif réduit.
                    </div>
                </aside>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <a href="#" id="add_billet" class="btn btn-secondary">Ajouter un billet</a>
                    </div>
                    <div class="col-md-6 mb-3">
                        <button type="submit" class='btn btn-success btn-lg float-right'>Valider</button>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </article>

    <aside class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <h2>Tarifs</h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Type</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Billet « normal » à partir de 12 ans</td>
                <td>16 €</td>
            </tr>
            <tr>
                <td>Billet « enfant » à partir de 4 ans et jusqu’à 12 ans</td>
                <td>8 €</td>
            </tr>
            <tr>
                <td>Billet « senior » à partir de 60 ans</td>
                <td>12 €</td>
            </tr>
            <tr>
                <td>Billet « réduit »</td>
                <td>10 €</td>
            </tr>
            </tbody>
        </table>
        <span> <i>Pour les enfants de moins de 4ans l'entrée est gratuite</i></span>
    </aside>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/cart.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker2")
                .datepicker({
                    format: "dd-mm-yyyy",
                    startDate: "0d",
                    language: "fr",
                    daysOfWeekDisabled: "2,0",
                    autoclose: true,
                    todayHighlight: true,
                    endDate: "{{ constraints.deadline }}"
                })
                .change(function () {
                    var date = new Date();
                    var heureActuel = date.getHours();
                    var heureLimite = '{{ constant('AppBundle\\Service\\LouvreConstraints::HEURE_LIMITE_JOURNEE') }}';
                    var todaysDate = '{{ constraints.date | date('d-m-Y')}}';
                    var datePicker = $(this).val();
                    if (todaysDate === datePicker){
                        if (heureActuel > heureLimite)
                        {
                            $('.typeBilletJour').val(1);
                        }
                    }else{
                        $('.typeBilletJour').val(0);
                    }
                });
        });
    </script>
{% endblock %}