{% extends 'base.html.twig' %}
{% block body %}

    <article class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.dateBillet, "Date de la visite") }}
                    {{ form_widget(form.dateBillet, {'attr': {'class': 'datepicker2'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.demiJournee, "Type de billet") }}
                    {{ form_widget(form.demiJournee, {'attr': {'class': 'typeBilletJour'}}) }}
                </div>
            </div>
            <br>
            {{ form_label(form.billets) }}
            {{ form_widget(form.billets) }}
            <div class="row">
                <div class="col-md-12 alert alert-danger alert-dismissible" id="alert_demiTarif" style="display:none ">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Attention !</strong> vous avez coché la case <strong>" Tarif réduit "</strong>"Tarif réduit", il sera nécessaire de présenter une carte d'étudiant, militaire ou équivalent lors de l'entrée pour bénéficier bien du tarif réduit.
                </div>
                <div class="col-md-6 mb-3">
                    <a href="#" id="add_billet" class="btn btn-secondary">Ajouter un billet</a>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="submit" value="Valider" class='btn-success btn-lg float-right'>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </article>

    <aside class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
        <h2>Tarifs</h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Type</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Billet « normal » à partir de 12 ans</td>
                <td>16 €</td>
            </tr>
            <tr>
                <td>Billet « enfant » à partir de 4 ans et jusqu’à 12 ans</td>
                <td>8 €</td>
            </tr>
            <tr>
                <td>Billet « senior » à partir de 60 ans</td>
                <td>12 €</td>
            </tr>
            <tr>
                <td>Billet « réduit »</td>
                <td>10 €</td>
            </tr>
            </tbody>
        </table>
        <span> <i>Pour les enfants de moins de 4ans l'entrée est gratuite</i></span>
    </aside>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        // Datepicker vue Panier
        var dates = "{{ estDispo.jourFeries.getJoursFeriesDatePicker }}";
        var myDates = dates.split(',');

        $(".datepicker2")
            .datepicker({
                format: "dd-mm-yyyy",
                startDate: "0d",
                language: "fr",
                daysOfWeekDisabled: "2,0",
                autoclose: true,
                todayHighlight: true,
                endDate: "{{ estDispo.dateLimite }}",
                datesDisabled:myDates
            })
            .change(function () {
                var date = new Date();
                var heureActuel = date.getHours();
                var heureLimite = '{{ constant('AppBundle\\Service\\EstDisponible::HEURE_LIMITE_JOURNEE') }}';
                var todaysDate = '{{ estDispo.date | date('d-m-Y')}}';
                var datePicker = $(this).val();
                if (todaysDate === datePicker){
                    if (heureActuel > heureLimite)
                    {
                        $('.typeBilletJour').val(1);
                    }
                }else{
                    $('.typeBilletJour').val(0);
                }
            });

        // Ajout billets dans vue Panier
        // On récupère la balise <div> en question qui contient l'attribut "data-prototype".
        var $container = $('div#appbundle_commandes_billets');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement.
        var index = $container.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_billet').click(function (e) {
            addBillet($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un
        if (index == 0) {
            addBillet($container)
        } else {

            // S'il existe déjà des billets, on ajoute un lien de suppression pour chacun d'entre eux
            $container.children('div').each(function () {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire BilletType
        function addBillet($container) {
            // Dans le contenu de l'attribut "data-prototype", on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il conien par le numéro du champ
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Billet n°' + (index+1))
                .replace(/__name__/g,        index)
            ;

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute au prototype un lien pour pouvoir supprimer le billet
            addDeleteLink($prototype);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppressio d'une catégorie
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer<a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function (e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # appraraisse dans l'URL
                return false;
            });
        }

        $('.form-check-input').change(function () {
            if($('.form-check-input').is(':checked')){
                $('#alert_demiTarif').show();
            }else{
                $('#alert_demiTarif').hide();
            }
        });
    </script>
{% endblock %}