{% extends '::basePanier.html.twig' %}

{% block panier %}

    <h2>Récaputilatif de votre commande</h2>
    <p>Bonjour Mr {{ commande.utilisateur.nom }}, {{ commande.utilisateur.prenom }}</p>
    <p>Vous souhaitez visiter le Louvre le {{ commande.dateBillet|date('d/m/Y') }}</p>
    <p>Un fois votre commande validé une facture vous sera envoyez à l'adresse mail suivante {{ commande.utilisateur.email }}</p>
    <p>Votre adesse de facturation est la suivante</p>
    <ul>
        <li>Adresse : {{ commande.utilisateur.adresse }}</li>
        <li>Code postal : {{ commande.utilisateur.codePostal }}</li>
        <li>Ville : {{ commande.utilisateur.ville }}</li>
        <li>Pays : {{ commande.utilisateur.pays }}</li>
    </ul>
    <p>Récap billets</p>
    {% for billet in commande.billet %}
        <div>
            id : {{ billet.id }} <br>
            nom : {{ billet.nom }} <br>
            prix : {{ billet.prix }} <br>
            type : {{ billet.type }}
        </div>

    {% endfor %}
    <p>{{ commande.prix }}€</p>
    <form method="post" id="payment-form">
    <div class="form-row">
    <form method="POST">
        <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_3ePoHBikY5cLCGVv7E24usLG"
                data-amount="{{ commande.caluclerPrixCentimes }}"
                data-name="testLouvre"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur">
        </script>
    </form>

{% endblock %}