    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.dateBillet, "Date de la visite") }}
        {{ form_errors(form.dateBillet) }}
        {{ form_widget(form.dateBillet) }}
    </div>
    <br>
    <div class="col-sm-10">
        {{ form_row(form.billet) }}
        <a href="#" id="add_billet" class="btn btn-success">Ajouter un billet</a>
    </div>
    <br>
    <div class="col-sm-10">
        {{ form_row(form.Envoyer) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}


{# On charge la bibliothèque jQuery depuis le CDN google #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // On récupère la balase <div> en question qui contient l'attribut "data-prototype" qui nous intéresse.
        var $container = $('div#appbundle_commandes_billet');

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var index = $container.find(':input').length;

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $('#add_billet').click(function (e) {
            addBillet($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un
        if (index == 0) {
            addBillet($container)
        } else {

            // S'il existe déjà des billets, on ajoute un lien de suppression pour chacun d'entre eux
            $container.children('div').each(function () {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire BilletType
        function addBillet($container) {
            // Dans le contenu de l'attribut "data-prototype", on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il conien par le numéro du champ
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Billet n°' + (index+1))
                .replace(/__name__/g,        index)
            ;

            // On crée un objet jquery qui contient ce template
            var $prototype = $(template);

            // On ajoute au prototype un lien pour pouvoir supprimer le billet
            addDeleteLink($prototype);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppressio d'une catégorie
        function addDeleteLink($prototype) {
            // Création du lien
            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer<a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
            $deleteLink.click(function (e) {
                $prototype.remove();

                e.preventDefault(); // évite qu'un # appraraisse dans l'URL
                return false;
            });
        }
    })
</script>