

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.dateBillet, "Date de la visite") }}
        {{ form_errors(form.dateBillet) }}
        {{ form_widget(form.dateBillet) }}
    </div>
    <br>
    <div class="col-sm-10">
        {{ form_row(form.billet) }}
        <a href="#" id="add_billet" class="btn btn-success">Ajouter un billet</a>
    </div>
    <br>
    <div class="col-sm-10">
        {{ form_row(form.Envoyer) }}
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
